
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,500;1,700&family=Rubik:wght@500&display=swap');


:root{
    --main-color:#8e44ad;
    --red:#e74c3c;
    --orange:#f39c12;
    --white:#fff;
    --black:#000101;
    --light-color:#888;
    --light-bg:#D2D1D4;
    --border:.1rem solid rgba(0,0,0,.2);
}

*{
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
}
*::selection{
    background-color: var(--main-color);
    color:#fff;
}

*::-webkit-scrollbar{
    height: .5rem;
    width: 1rem;
}

*::-webkit-scrollbar-track{
    background-color: transparent;
}

*::-webkit-scrollbar-thumb{
    background-color: var(--main-color);
}

html{
    font-size:62.5%;
    overflow-x: hidden;
}

body{
    background-color: var(--light-bg);
}
nav{
    padding: .5rem;
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    background-color: var(--black);
    height: 5rem;
    display: inline-flexbox;
}
div{
    display: inline-flex;
}
.Home{
    
    color: white;
    font-size: 3rem;
    cursor: pointer;
}
.Aboutus{
    color: white;
    font-size: 3rem;
    margin-left: 4rem;
    cursor: pointer;
}
.service{
    color: white;
    font-size: 3rem;
    margin-left: 4rem;
    cursor: pointer;
}
.signup{
    color: white;
    font-size: 3rem;
    margin-left: 4rem;
    cursor: pointer;
}
.contact{
    color: white;
    font-size: 3rem;
    margin-left: 4rem;
    cursor: pointer;
}
.Home:active{
    background-color: var(--light-color);
}

.signup:active{
    background-color: var(--light-color);
}
.contact:active{
    background-color: var(--light-color);
}
.Home:hover{
    background-color: var(--light-color);
}

.signup:hover{
    background-color: var(--light-color);
}
.contact:hover{
    background-color: var(--light-color);
}
.Aboutus:active{
    background-color: var(--light-color);
}

.service:active{
    background-color: var(--light-color);
}
.Aboutus:hover{
    background-color: var(--light-color);
}
.service:hover{
    background-color: var(--light-color);
}
.search{
    margin-left: 20rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 30rem;
    height: 3.5rem;
    font-size: 2rem;
}
.wishlist{
    margin-left: 3rem;
    font-size: 2rem;
    color:white;
    text-decoration: none;
}
header{
    font-size: 5rem;
    font-weight: bold;
    color: black;
    margin-top: 1rem;
    position: absolute;
    margin-left: 53rem;
    background-color: #BADAF9;
    padding-left: 10rem;
    padding-right: 10rem;
}

form{
    margin-top: 9rem;
    margin-left: 45rem;
    margin-right: 50rem;
    background-color: #F9BAF9;
    padding: 1rem;
    padding-bottom: 4rem;
}
.firstname1{
    margin-top: 2rem;
    margin-left: 6rem;
    font-size: 2.5rem;
    
}
.firstname2{
    margin-top: 2rem;
    margin-left: 4rem;
    width: 10rem;
    font-size: 2rem;
}

.lastname1{
    margin-top: 2rem;
    margin-left: 6rem;
    font-size: 2.5rem;
    font-weight: 100;
}
.lastname2{
    margin-top: 2rem;
    margin-left: 2rem;
    width: 10rem;
    font-size: 2rem;
}
.email1{
    margin-top: 2rem;
    margin-left: 6rem;
    font-size: 2.5rem;
    font-weight: 100;
}
.email2{
    margin-top: 2rem;
    margin-left: 7rem;
    width: 30rem;
    font-size: 2rem;
}
.feed1{
    margin-top: 2rem;
    margin-left: 6rem;
    font-size: 2.5rem;
    font-weight: 100;
}
.feed2{
    margin-top: 2rem;
    margin-left: 2.5rem;
    width: 30rem;
    font-size: 2rem;
}
.button{
    margin-left: 6rem;
    width:45rem;
    height: 4rem;
    font-size: 2rem;
    color: white;
    border-radius: .5rem;
    border-color: rgb(90, 144, 244);
    margin-top: 4rem;
    background-color: rgb(90, 144, 244);
    
}
.foot{
    margin-top: 1rem;
    margin-left: 50rem;
    color: black;
    font-size: 1.5rem;
}